.self-introduction-container{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    border: dashed 2px black;
    display: flex;
    align-content:flex-end ;
    margin-top: 20%;
    bottom: 8px;
    right: 16px;

}